.Main {
    padding-bottom: 1rem;
}

.card {
    margin: 0.7rem;
    margin-bottom: 0;
    width: auto;
    padding: 1rem 0.5rem;

    border-radius: .3rem;    
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);

    color: rgb(71, 71, 71);
    font-family: NanumSquare;
    flex: 0.5;
    background-color: white;
}
.doubleCard {
    display: flex;
    /* width: 90%; */
    margin: auto;
}

.CoinValue {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.Value {
    font-size: 1.3rem;
    font-weight: bold;
}
.ValueType {
    font-size: .5rem;
}
.ValueStatus {
    font-size: .8rem;
}

.trade {
    font-size: 1rem;
    text-align: center; 
    box-sizing: border-box;
    border: none;
}







.Say {
    /* text-align: center; */
    
    word-break:keep-all;
    box-sizing: border-box;
    padding: 1%;
    line-height: 1.5rem;
    font-weight: bold;
    font-style: italic;
    color: rgb(179, 179, 179);
}
.Who {
    text-align: end;
    margin-right: 1rem;
}